

html, body {
    height: 100%;
}

.min-100 {
    min-height: 100%;
    height: 100%;
}

.w-200 {
    width: 200% !important;
}

#bookcase {
    background: rgba(238, 239, 240, 0.3);
    opacity: 1;
    position: absolute;
    left: 0;
    transition: all .7s;
    transform: translate3d(0, 0, 0);
    width: 100%;
    height: 93.3%;
    z-index: 10;
}

#bookcase .shelf {
    width: 100%;
    height: 33.3%;
}

#bookcase .shelf .carousel {
    background-image: linear-gradient(#1c1f24, #353a40, #2b2f34);
}

#bookcase .shelf h5 {
    margin: 0;
    height: 15%;
    font-weight: 400;
    background-color: #353a40;
    color: #969696;
    padding: 10px 0;
    letter-spacing: 0.2em;
    opacity: .8;
    font-size: 1.25em;
    text-align: center;
    font-family: Ubuntu, "times new roman", times, roman, serif;
    text-transform: uppercase;
}

#bookcase .shelf .book-no-desc:first-child, #bookcase .shelf .book-no-desc:last-child {
    opacity: 50%;
}

#bookcase .shelf .book-no-desc {
    width: 19%;
    height: 100%;
    display: inline-block;
    text-align: center;
    padding: 2% 0;
}

#bookcase .shelf .book-no-desc img{
    max-height: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

#bookcase .shelf .book-no-desc:hover img {
    box-shadow: 0 0 25px rgba(0,0,0,1);
}


#bookcase .carousel {
    height: 85%;
    max-height: 85%;
}

#bookcase .carousel-inner {
    height: 100%;
    max-height: 100%;
}

#bookcase .carousel-item {
    height: 100%;
    max-height: 100%;
    padding: 0 15%;
}

#bookcase .shelf:nth-child(odd) {
    background: rgba(165, 174, 181, 0.2);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 50px;
    height: 50px;
}

#bookcase {
    min-width: 800px;
}

@media (max-width: 1152px) {
    #bookcase .carousel-item {
        padding: 0 13%;
    }
}

@media (max-width: 1024px) {

    #bookcase .shelf .book-no-desc {
        padding: 5% 0;
    }

    #bookcase .carousel-item {
        padding: 0 12%;
    }

}

@media (max-width: 896px) {

    #bookcase .carousel-item {
        padding: 0 10%;
    }

}

@media (max-width: 768px) {



}

@media (max-width: 640px) {


}