

h2.shelf-header {
    margin: 0;
    height: 38px;
    font-weight: 400;
    background-color: #353a40;
    color: #969696;
    padding: 10px 0;
    letter-spacing: 0.2em;
    opacity: .8;
    font-size: 1.25em;
    text-align: center;
    font-family: Ubuntu, "times new roman", times, roman, serif;
    text-transform: uppercase;
}

.carousel {
    background-image: linear-gradient(#1c1f24, #353a40, #2b2f34);
}

.img-fluid {
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

div.col-lg-2:hover .img-fluid {
    box-shadow: 0 0 25px rgba(0,0,0,1);
}

@media (max-width: 640px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33.2%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33.2%);
    }

    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }

    .carousel-control-next {
        right: 15vw;
    }

    .carousel-control-prev {
        left: 15vw;
    }
}

@media (min-width: 640px) and (max-width: 992px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33.2%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33.2%);
    }

    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child,  .carousel-inner .carousel-item > div:nth-child(2),  .carousel-inner .carousel-item > div:nth-child(3)  {
        display: block;
    }

    .carousel-control-next {
        right: 4vw;
    }

    .carousel-control-prev {
        left: 4vw;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
    justify-content: center;
    height: 100%;
}

@media (min-width: 992px) {
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(16.6%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-16.6%);
    }

    .carousel-inner .carousel-item div.col-lg-2:first-child img, .carousel-inner .carousel-item div.col-lg-2:last-child img {
        opacity: 50%;
    }

    .carousel-control-next {
        right: 4vw;
    }

    .carousel-control-prev {
        left: 4vw;
    }


}

.carousel-inner {
    /*padding: 1vh 0;*/
    height: 100%;
}

.container {
    height: 233px;
}

h2.shelf-header {
    padding: 5px 0;
}

/*.container > .row {*/
/*    height: 229px;*/
/*}*/

.img-fluid {
    height: 193px;
    margin: 20px;
}

.container {
    max-width: 100% !important;
    padding: 0;
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{
    transform: translateX(0);
}

